<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.android.studytime">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppCompat.Light.NoActionBar"
        tools:replace="android:icon,android:theme,android:label">

        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".Pop"
            android:theme="@style/AppTheme"/>

        <activity
            android:name=".AddEvent"
            android:parentActivityName="com.example.android.studytime.MainActivity"
            android:windowSoftInputMode="adjustResize">

            <!-- Parent activity meta-data to support 4.0 and lower -->
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.android.studytime.MainActivity" />
        </activity>

        <activity
            android:name=".DetailedEvent"
            android:parentActivityName="com.example.android.studytime.MainActivity">

            <!-- Parent activity meta-data to support 4.0 and lower -->
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.android.studytime.MainActivity" />
        </activity>

        <activity
            android:name=".EditEvent"
            android:parentActivityName="com.example.android.studytime.MainActivity"
            android:windowSoftInputMode="adjustResize">

            <!-- Parent activity meta-data to support 4.0 and lower -->
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.android.studytime.MainActivity" />
        </activity>

        <activity
            android:name="com.android.Overview"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar"></activity>

        <provider
            android:name="com.tyczj.extendedcalendarview.CalendarProvider"
            android:authorities="com.tyczj.extendedcalendarview.calendarprovider" /><!-- ATTENTION: This was auto-generated to add Google Play services to your project for
     App Indexing.  See https://g.co/AppIndexing/AndroidStudio for more information. -->
        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />

    </application>

</manifest>